@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(http://7xrcp8.com1.z0.glb.clouddn.com/Source%20Code%20Pro.woff) format("woff"); }

/* line 1, ../../../themes/again/source/css/_base.scss */
* {
  box-sizing: border-box; }

/* line 5, ../../../themes/again/source/css/_base.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 10, ../../../themes/again/source/css/_base.scss */
html {
  font-size: 16px; }

/* line 14, ../../../themes/again/source/css/_base.scss */
body {
  margin: 0;
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 20, ../../../themes/again/source/css/_base.scss */
a {
  text-decoration: none;
  color: inherit; }

/* https://github.com/twitter/twemoji#inline-styles */
/* line 26, ../../../themes/again/source/css/_base.scss */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.2em; }

/* line 1, ../../../themes/again/source/css/_helper/grid.scss */
.grid {
  display: flex;
  align-items: center; }

/* line 6, ../../../themes/again/source/css/_helper/grid.scss */
.grid-item {
  flex: 1; }

/* line 1, ../../../themes/again/source/css/_partial/nav.scss */
.app-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px; }
  /* line 8, ../../../themes/again/source/css/_partial/nav.scss */
  .app-nav a {
    color: #5badf0;
    text-transform: capitalize;
    padding: 6px 10px; }
  /* line 14, ../../../themes/again/source/css/_partial/nav.scss */
  .app-nav .active {
    background-color: #5badf0;
    color: #fff; }

/* line 1, ../../../themes/again/source/css/_partial/header.scss */
.app-header {
  text-align: center; }
  /* line 7, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .banner {
    position: relative;
    overflow: hidden;
    z-index: -1024;
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat; }
    /* line 17, ../../../themes/again/source/css/_partial/header.scss */
    .app-header .banner .placeholder {
      padding-bottom: 33.3%; }
    /* line 21, ../../../themes/again/source/css/_partial/header.scss */
    .app-header .banner img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 2s linear; }
    /* line 30, ../../../themes/again/source/css/_partial/header.scss */
    .app-header .banner img.loaded {
      opacity: 1; }
    /* line 34, ../../../themes/again/source/css/_partial/header.scss */
    .app-header .banner .banner-small {
      filter: blur(50px);
      -webkit-filter: blur(25px); }
  /* line 43, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .description .avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    border: 4px solid #fff; }
  /* line 51, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .description .title {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #222;
    margin: 0;
    padding: 15px; }
  /* line 61, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .description .subtitle {
    margin: 0;
    letter-spacing: 1px;
    font-size: .9rem;
    color: #EB298C;
    padding-bottom: 15px; }
  /* line 73, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .social-list {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none; }
  /* line 80, ../../../themes/again/source/css/_partial/header.scss */
  .app-header .social-list a {
    color: #5badf0;
    padding: 8px 12px; }

/* line 1, ../../../themes/again/source/css/_partial/index.scss */
main.index {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px; }
  /* line 6, ../../../themes/again/source/css/_partial/index.scss */
  main.index article {
    margin-top: 45px; }
  /* line 11, ../../../themes/again/source/css/_partial/index.scss */
  main.index .article-entry {
    padding: 15px 0 30px 0; }
  /* line 15, ../../../themes/again/source/css/_partial/index.scss */
  main.index .article-title {
    margin: 0;
    padding-top: 30px;
    text-transform: capitalize; }
  /* line 22, ../../../themes/again/source/css/_partial/index.scss */
  main.index .article-date {
    color: #aaa; }
  /* line 26, ../../../themes/again/source/css/_partial/index.scss */
  main.index .page-nav {
    text-align: center;
    margin-top: 45px;
    font-size: 1.25rem; }
    /* line 31, ../../../themes/again/source/css/_partial/index.scss */
    main.index .page-nav .page-number {
      padding: 5px;
      color: #5badf0; }
    /* line 35, ../../../themes/again/source/css/_partial/index.scss */
    main.index .page-nav .current {
      color: inherit; }
    /* line 40, ../../../themes/again/source/css/_partial/index.scss */
    main.index .page-nav .extend {
      padding: 0 15px;
      color: #5badf0; }

/* line 1, ../../../themes/again/source/css/_partial/archive.scss */
main.archive {
  max-width: 500px;
  padding: 90px 15px 0 15px;
  margin: 0 auto; }
  /* line 6, ../../../themes/again/source/css/_partial/archive.scss */
  main.archive article {
    margin-top: 30px; }
  /* line 10, ../../../themes/again/source/css/_partial/archive.scss */
  main.archive .article-title {
    margin: 0;
    font-size: 1.2rem;
    text-transform: capitalize; }
  /* line 16, ../../../themes/again/source/css/_partial/archive.scss */
  main.archive .article-meta {
    padding-left: 30px; }
    /* line 19, ../../../themes/again/source/css/_partial/archive.scss */
    main.archive .article-meta .article-date {
      color: #aaa; }
  /* line 24, ../../../themes/again/source/css/_partial/archive.scss */
  main.archive .page-nav {
    text-align: center;
    margin-top: 90px;
    font-size: 1.25rem; }
    /* line 29, ../../../themes/again/source/css/_partial/archive.scss */
    main.archive .page-nav .page-number {
      padding: 5px;
      color: #5badf0; }
    /* line 33, ../../../themes/again/source/css/_partial/archive.scss */
    main.archive .page-nav .current {
      color: inherit; }
    /* line 38, ../../../themes/again/source/css/_partial/archive.scss */
    main.archive .page-nav .extend {
      padding: 0 15px;
      color: #5badf0; }

/* line 1, ../../../themes/again/source/css/_partial/article.scss */
main.post {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px; }
  /* line 6, ../../../themes/again/source/css/_partial/article.scss */
  main.post article {
    padding-top: 45px;
    line-height: 1.7; }
  /* line 11, ../../../themes/again/source/css/_partial/article.scss */
  main.post .article-entry {
    margin-top: 75px;
    /* * markdown it -> anchors in config.yml */ }
    /* line 14, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h2, main.post .article-entry > h3, main.post .article-entry > h4, main.post .article-entry > h5, main.post .article-entry > h6 {
      margin-bottom: 1rem; }
    /* line 17, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h2 {
      margin-top: 3rem; }
    /* line 18, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h3 {
      margin-top: 2rem; }
    /* line 19, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h4 {
      margin-top: 1.5rem; }
    /* line 21, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry a {
      color: #5badf0; }
    /* line 26, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry a.header-anchor {
      margin-right: .5rem;
      display: none; }
    /* line 32, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h2 a.header-anchor {
      display: inline; }
    /* line 35, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry > h3:hover .header-anchor,
    main.post .article-entry > h4:hover .header-anchor,
    main.post .article-entry > h5:hover .header-anchor,
    main.post .article-entry > h6:hover .header-anchor {
      display: inline; }
    /* line 43, ../../../themes/again/source/css/_partial/article.scss */
    main.post .article-entry img {
      max-width: 700px; }
  /* line 48, ../../../themes/again/source/css/_partial/article.scss */
  main.post .article-title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px; }
  /* line 56, ../../../themes/again/source/css/_partial/article.scss */
  main.post .article-date {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aaa; }
  /* line 63, ../../../themes/again/source/css/_partial/article.scss */
  main.post .article-comment {
    margin-top: 90px; }

/* line 1, ../../../themes/again/source/css/_partial/footer.scss */
.app-footer {
  height: 80px;
  margin-top: 45px;
  padding: 15px;
  text-align: center;
  color: #666;
  font-size: .9rem; }
  /* line 10, ../../../themes/again/source/css/_partial/footer.scss */
  .app-footer p {
    margin: 0;
    padding: 3px;
    font-style: italic; }
  /* line 16, ../../../themes/again/source/css/_partial/footer.scss */
  .app-footer a {
    color: #666; }

/* line 1, ../../../themes/again/source/css/_partial/page.scss */
.page {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 90px;
  line-height: 1.7; }
  /* line 9, ../../../themes/again/source/css/_partial/page.scss */
  .page h1, .page h2 {
    border-bottom: 1px solid #eee;
    margin-top: 2.5rem;
    padding-bottom: .3rem; }
  /* line 15, ../../../themes/again/source/css/_partial/page.scss */
  .page h2 {
    font-size: 1.75rem; }
  /* line 19, ../../../themes/again/source/css/_partial/page.scss */
  .page a {
    color: #5badf0; }
  /* line 23, ../../../themes/again/source/css/_partial/page.scss */
  .page li {
    margin-left: 15px; }

/* line 1, ../../../themes/again/source/css/_widget/sharing.scss */
.sharing {
  margin: 90px 0;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  /* line 8, ../../../themes/again/source/css/_widget/sharing.scss */
  .sharing .profile .avatar {
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%; }
  /* line 15, ../../../themes/again/source/css/_widget/sharing.scss */
  .sharing .profile .title {
    margin: 0;
    font-style: italic;
    font-size: 1rem; }
  /* line 22, ../../../themes/again/source/css/_widget/sharing.scss */
  .sharing .profile .subtitle {
    margin: 0;
    padding: 5px 0;
    font-size: .8rem;
    font-style: italic;
    color: #999; }
  /* line 32, ../../../themes/again/source/css/_widget/sharing.scss */
  .sharing .share-btns > p {
    margin: 15px;
    color: #EB298C;
    font-style: italic;
    text-transform: capitalize; }

/* line 17, ../../../themes/again/source/css/_widget/highlight.scss */
.code-block, .article-entry pre, .article-entry .highlight {
  background: #2d2d2d;
  margin: 1.6rem 0;
  padding: 3rem 1.8rem;
  border-style: solid;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 20px; }

/* line 28, ../../../themes/again/source/css/_widget/highlight.scss */
.line-numbers, .article-entry .highlight .gutter pre {
  color: #666;
  font-size: 0.9rem; }

/* line 34, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry pre, .article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, monospace; }

/* line 39, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry code {
  background: rgba(0, 0, 0, 0.07);
  color: #EB298C;
  padding: 2px 3px;
  border-radius: 2px; }

/* line 49, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0; }

/* line 57, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry blockquote {
  color: #aaa;
  margin: 2.5rem 1rem;
  padding: 0 0 0 30px;
  border-left: 4px solid #aaa; }
  /* line 63, ../../../themes/again/source/css/_widget/highlight.scss */
  .article-entry blockquote p {
    margin: 0; }

/* line 69, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry table {
  margin: 15px 0;
  border-collapse: collapse; }
  /* line 73, ../../../themes/again/source/css/_widget/highlight.scss */
  .article-entry table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
  /* line 78, ../../../themes/again/source/css/_widget/highlight.scss */
  .article-entry table th, .article-entry table td {
    border: 1px solid #ddd;
    padding: 6px 13px; }

/* line 87, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0; }

/* line 93, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight table {
  margin: 0;
  width: auto; }

/* line 98, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight td {
  border: none;
  padding: 0; }

/* line 104, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight tr {
  border: 0; }

/* line 108, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em; }
  /* line 113, ../../../themes/again/source/css/_widget/highlight.scss */
  .article-entry .highlight figcaption a {
    float: right; }

/* line 117, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px; }

/* line 122, ../../../themes/again/source/css/_widget/highlight.scss */
.article-entry .highlight .line {
  height: 20px; }

/* line 129, ../../../themes/again/source/css/_widget/highlight.scss */
pre .comment,
pre .title {
  color: #999; }

/* line 134, ../../../themes/again/source/css/_widget/highlight.scss */
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag, pre .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a; }

/* line 149, ../../../themes/again/source/css/_widget/highlight.scss */
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157; }

/* line 158, ../../../themes/again/source/css/_widget/highlight.scss */
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #99cc99; }

/* line 164, ../../../themes/again/source/css/_widget/highlight.scss */
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #99cc99; }

/* line 173, ../../../themes/again/source/css/_widget/highlight.scss */
pre .css .hexcolor {
  color: #66cccc; }

/* line 177, ../../../themes/again/source/css/_widget/highlight.scss */
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #6699cc; }

/* line 188, ../../../themes/again/source/css/_widget/highlight.scss */
pre .keyword,
pre .javascript .function {
  color: #cc99cc; }

/* line 1, ../../../themes/again/source/css/_widget/back-to-home.scss */
.back-to-home {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 8px 12px;
  background-color: #5badf0;
  color: #fff;
  text-align: center;
  font-size: .9rem; }
